@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #4284df;
  border-color: #4284df;
}
.btn-primary:before {
  background-color: #1f5eb6;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a;
  border-color: #f27d7a;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #f27d7a;
  border-color: #f27d7a;
}
.btn-secondary:before {
  background-color: #eb3934;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2;
  border-color: #7237a2;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #7237a2;
  border-color: #7237a2;
}
.btn-info:before {
  background-color: #4a2469;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2;
  border-color: #9473d2;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #9473d2;
  border-color: #9473d2;
}
.btn-success:before {
  background-color: #693cbc;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4;
  border-color: #f8f9c4;
  color: #aaac12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12;
  background-color: #f8f9c4;
  border-color: #f8f9c4;
}
.btn-warning:before {
  background-color: #f0f27f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef;
  border-color: #efefef;
  color: #707070;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-danger:before {
  background-color: #c9c9c9;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white:before {
  background-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black:before {
  background-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  /*width: 0;
        top:0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;*/
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
  border-radius: 100px;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #4284df;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #4284df;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #4284df;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
/* Content */
.content11 .counter-container div .counter {
  background: #4284df;
}
.content11 .counter-container div .counter {
  border-radius: 50%;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qvgbTU6fzR {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-qvgbTU6fzR .block-title B {
  color: #000000;
}
.cid-qvgbTU6fzR .block-title {
  color: #000000;
}
.cid-qvg85p3nZC .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 50px;
}
.cid-qvg85p3nZC .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-qvg85p3nZC a {
  font-style: normal;
}
.cid-qvg85p3nZC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qvg85p3nZC .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-qvg85p3nZC .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qvg85p3nZC .content-text {
  margin-bottom: 0;
}
.cid-qvg85p3nZC .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-qvg85p3nZC .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4284df;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-qvg85p3nZC .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-qvg85p3nZC .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-qvg85p3nZC .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-qvg85p3nZC .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qvg85p3nZC .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qvg85p3nZC .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-qvg85p3nZC .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
}
.cid-qvg85p3nZC .nav-dropdown .link {
  font-weight: 400;
}
.cid-qvg85p3nZC .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-qvg85p3nZC .content-right-side {
  text-align: center;
}
.cid-qvg85p3nZC .menu-content-top {
  display: none;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-qvg85p3nZC .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-qvg85p3nZC .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-qvg85p3nZC .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-qvg85p3nZC .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-qvg85p3nZC .menu-content-right {
  display: flex;
}
.cid-qvg85p3nZC .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-qvg85p3nZC .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-qvg85p3nZC .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-qvg85p3nZC .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-qvg85p3nZC .widget-content .widget-text {
  margin-top: 7px;
}
.cid-qvg85p3nZC .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-qvg85p3nZC .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-qvg85p3nZC .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
  }
  .cid-qvg85p3nZC .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-qvg85p3nZC .navbar {
    display: block;
    padding: 0;
  }
  .cid-qvg85p3nZC .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-qvg85p3nZC .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: initial;
    display: flex;
    align-items: center;
    z-index: 101;
  }
  .cid-qvg85p3nZC .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qvg85p3nZC .navbar-toggler {
    display: none;
  }
}
.cid-qvg85p3nZC .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-qvg85p3nZC .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qvg85p3nZC .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-qvg85p3nZC .menu-logo {
  margin-right: auto;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qvg85p3nZC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qvg85p3nZC .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-qvg85p3nZC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qvg85p3nZC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qvg85p3nZC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item:hover {
  color: #4284df;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qvg85p3nZC .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qvg85p3nZC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qvg85p3nZC .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-qvg85p3nZC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qvg85p3nZC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qvg85p3nZC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qvg85p3nZC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qvg85p3nZC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  align-self: center;
}
.cid-qvg85p3nZC button.navbar-toggler:focus {
  outline: none;
}
.cid-qvg85p3nZC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qvg85p3nZC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qvg85p3nZC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qvg85p3nZC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qvg85p3nZC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qvg85p3nZC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qvg85p3nZC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qvg85p3nZC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qvg85p3nZC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qvg85p3nZC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qvg85p3nZC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qvg85p3nZC .collapsed .btn {
  display: flex;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse.collapsing,
.cid-qvg85p3nZC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qvg85p3nZC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qvg85p3nZC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qvg85p3nZC .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-qvg85p3nZC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qvg85p3nZC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qvg85p3nZC .collapsed button.navbar-toggler {
  display: block;
}
.cid-qvg85p3nZC .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qvg85p3nZC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qvg85p3nZC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qvg85p3nZC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qvg85p3nZC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qvg85p3nZC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-qvg85p3nZC .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-qvg85p3nZC .menu-bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cid-qvg85p3nZC img {
    height: 3.8rem !important;
  }
  .cid-qvg85p3nZC .btn {
    display: flex;
  }
  .cid-qvg85p3nZC button.navbar-toggler {
    display: block;
  }
  .cid-qvg85p3nZC .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qvg85p3nZC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qvg85p3nZC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qvg85p3nZC .navbar-collapse.collapsing,
  .cid-qvg85p3nZC .navbar-collapse.show {
    display: block !important;
  }
  .cid-qvg85p3nZC .navbar-collapse.collapsing .navbar-nav,
  .cid-qvg85p3nZC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qvg85p3nZC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qvg85p3nZC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qvg85p3nZC .navbar-collapse.collapsing .navbar-buttons,
  .cid-qvg85p3nZC .navbar-collapse.show .navbar-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cid-qvg85p3nZC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qvg85p3nZC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qvg85p3nZC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qvg85p3nZC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qvg85p3nZC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qvg85p3nZC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-qvg85p3nZC .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-qvg85p3nZC .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-qvg85p3nZC .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-qvg85p3nZC .navbar-collapse {
  -ms-flex-preferred-size: initial;
  flex-basis: initial;
}
.cid-qvg85p3nZC .nav-link:focus {
  outline: none;
}
.cid-qvg85p3nZC .navbar-toggler {
  position: relative;
}
.cid-qvg85p3nZC .dropdown-item.active,
.cid-qvg85p3nZC .dropdown-item:active {
  background: #333333;
  color: initial;
}
.cid-qvg85p3nZC .widget-title,
.cid-qvg85p3nZC .widget-icon {
  color: #ffffff;
}
.cid-qvg85p3nZC .widget-text {
  color: #ffffff;
}
.cid-qvo10oiIV0 {
  padding-top: 80px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/1g-copy.jpg");
}
.cid-qvo10oiIV0 .mbr-overlay {
  background: linear-gradient(#555555 -10%, #333333 75%);
}
.cid-qvo10oiIV0 H3 {
  color: #000000;
}
.cid-qvo10oiIV0 H1 {
  color: #333333;
}
.cid-qvo10oiIV0 .mbr-text,
.cid-qvo10oiIV0 .mbr-section-btn {
  color: #951d19;
}
.cid-qvo10oiIV0 .mbr-text,
.cid-qvo10oiIV0 .mbr-section-btn B {
  color: #2c1616;
}
.cid-qvo10oiIV0 B {
  color: #951d19;
}
.cid-qvo10oiIV0 .mbr-text,
.cid-qvo10oiIV0 .mbr-section-btn I {
  color: #951d19;
}
.cid-qvruk80J4T {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-qvruk80J4T .block-title B {
  color: #ffffff;
}
.cid-qvruk80J4T .block-title {
  color: #ffffff;
}
.cid-qvruk80J4T .block-title I {
  color: #ffffff;
}
.cid-qvruhyZWP9 {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qvruhyZWP9 .counter-container {
  color: #767676;
}
.cid-qvruhyZWP9 .counter-container ul {
  margin-bottom: 0;
}
.cid-qvruhyZWP9 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
}
.cid-qvruhyZWP9 .counter-container ul li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #951d19;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-qvruhyZWP9 .mbr-text UL {
  color: #000000;
}
.cid-qvrTubNa4C {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-qvrTubNa4C .block-title B {
  color: #ffffff;
}
.cid-qvrTubNa4C .block-title {
  color: #ffffff;
}
.cid-qvgaWKJ0bW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/slide7.png");
}
.cid-qvgaWKJ0bW .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qvgaWKJ0bW .card-box {
  padding: 0 2rem;
}
.cid-qvgaWKJ0bW .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qvgaWKJ0bW .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qvgaWKJ0bW h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qvgaWKJ0bW p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qvgaWKJ0bW .mbr-text {
  color: #767676;
}
.cid-qvgaWKJ0bW .card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qvgaWKJ0bW .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qvgaWKJ0bW .card-title {
  color: #0c57bf;
}
.cid-qvrFqUbYB7 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-qvrFqUbYB7 .block-title B {
  color: #ffffff;
}
.cid-qvrFqUbYB7 .block-title {
  color: #ffffff;
}
.cid-qvrBPfAiNW {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/slide5.jpg");
}
.cid-qvrBPfAiNW .media-container-row {
  align-items: flex-start;
}
.cid-qvrBPfAiNW .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qvrBPfAiNW .plan {
  background: none;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
}
.cid-qvrBPfAiNW .plan .mbr-overlay {
  background: #232323;
  opacity: 0.7;
}
.cid-qvrBPfAiNW .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-qvrBPfAiNW .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qvrBPfAiNW .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qvrBPfAiNW .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-qvrBPfAiNW .plan .plan-body {
  position: relative;
  padding-bottom: 3rem;
}
.cid-qvrBPfAiNW .plan-header {
  padding-bottom: 2rem;
  position: relative;
}
@media (max-width: 550px) {
  .cid-qvrBPfAiNW .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qvrBPfAiNW .plan-title {
  color: #6c9cdf;
}
.cid-qvrBPfAiNW .plan-title B {
  color: #6c9cdf;
}
.cid-qvrDkUjTpR {
  padding-top: 0px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/slide5.jpg");
}
.cid-qvrDkUjTpR .media-container-row {
  align-items: flex-start;
}
.cid-qvrDkUjTpR .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qvrDkUjTpR .plan {
  background: none;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
}
.cid-qvrDkUjTpR .plan .mbr-overlay {
  background: #232323;
  opacity: 0.7;
}
.cid-qvrDkUjTpR .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-qvrDkUjTpR .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qvrDkUjTpR .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qvrDkUjTpR .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-qvrDkUjTpR .plan .plan-body {
  position: relative;
  padding-bottom: 3rem;
}
.cid-qvrDkUjTpR .plan-header {
  padding-bottom: 2rem;
  position: relative;
}
@media (max-width: 550px) {
  .cid-qvrDkUjTpR .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qvrDkUjTpR .plan-title {
  color: #6c9cdf;
}
.cid-qvgbSklTBQ {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-qvgbSklTBQ .block-title B {
  color: #ffffff;
}
.cid-qvgbSklTBQ .block-title {
  color: #ffffff;
}
.cid-qvgbgl5h4U {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qvgbgl5h4U .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qvgbgl5h4U .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qvgbgl5h4U .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qvgbgl5h4U .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qvgbgl5h4U .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qvgbgl5h4U .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qvgbgl5h4U ul {
  font-size: 0;
}
.cid-qvgbgl5h4U .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #4284df;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s;
}
.cid-qvgbgl5h4U .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 2px #4284df solid;
  border-radius: 0 !important;
}
.cid-qvgbgl5h4U .mbr-gallery-filter ul li {
  border-bottom: 1px #4284df solid;
  padding: 0;
}
.cid-qvgbR9ZlPg {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-qvgbR9ZlPg .block-title B {
  color: #ffffff;
}
.cid-qvgbR9ZlPg .block-title {
  color: #ffffff;
}
.cid-qvgbqTZSEL {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-qvgbqTZSEL .counter-container {
  color: #464646;
}
.cid-qvgbqTZSEL .counter-container div {
  margin-bottom: 1rem;
  padding-left: 5rem;
}
.cid-qvgbqTZSEL .counter-container li {
  list-style: none;
  padding-left: 6rem;
  position: relative;
}
.cid-qvgbqTZSEL .counter-container .counter {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: 0 0 5px;
  line-height: 40px;
  transition: all .2s;
  width: 60px;
  height: 40px;
}
.cid-qvgbqTZSEL P {
  color: #ffffff;
}
.cid-qvgbqTZSEL B {
  color: #ffffff;
}
.cid-qvgbqTZSEL H3 {
  color: #ffffff;
}
.cid-qvgbqTZSEL H4 {
  color: #ffffff;
}
.cid-qvgbLyNCKS {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #333333;
}
@media (max-width: 767px) {
  .cid-qvgbLyNCKS .content {
    text-align: center;
  }
  .cid-qvgbLyNCKS .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qvgbLyNCKS .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qvgbLyNCKS .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qvgbLyNCKS .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qvgbLyNCKS .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qvgbLyNCKS .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qvgbLyNCKS .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qvgbLyNCKS .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qvgbLyNCKS .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qvgbLyNCKS .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qvgbLyNCKS .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qvgbLyNCKS .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
